.page1 {
	height: 700px;
	width: 100%;
	background-color: royalblue;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page2 {
	height: 700px;
	width: 100%;
	background-color: skyblue;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.page3 {
	height: 700px;
	width: 100%;
	background-color: lightblue;
	display: flex;
	align-items: center;
	justify-content: center;

}
 .box{
	height: 150px;
	width: 150px;
	background-image: linear-gradient(to right, orange, black);
}

h1,h2{
	background-color: bisque;
}